<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Support</title>
</head>

<body>
     <div>
        <iframe
            src="https://chat.dante-ai.com/embed?kb_id=71b6a0af-adac-4abb-b3fa-69e01eb76863&token=0d932c1d-cf57-449e-96f8-fe3b64ab6be6&modeltype=gpt-4&logo=ZmFsc2U=&mode=undefined"
            allow="clipboard-write; microphone" width="100%" height="700" frameborder="0"></iframe>
    </div>
</body>

</html>